/*
	Ratings Stars
	(with as little code as possible)
*/
/* line 7, ../scss/style.scss */
.rating {
  padding-bottom: 3px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  color: #f19e1f;
}

/* line 15, ../scss/style.scss */
.rating > span {
  display: inline-block;
  position: relative;
  width: 15px;
}

/* line 21, ../scss/style.scss */
.rating > *:hover,
.rating > *:hover ~ span,
.rating:not(:hover) > input:checked ~ span {
  color: transparent;
}

/* line 27, ../scss/style.scss */
.rating > *:hover:before,
.rating > *:hover ~ span:before,
.rating:not(:hover) > input:checked ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #f19e1f;
}

/* line 36, ../scss/style.scss */
.rating > input {
  margin-left: -23px;
  margin-right: 0;
  top: 3px;
  width: 11px;
  height: 11px;
  position: relative;
  z-index: 2;
  opacity: 0;
}

/* line 48, ../scss/style.scss */
body {
  margin: 0;
  background-color: #f3f1f2;
}

/* line 53, ../scss/style.scss */
.container {
  margin: 0 auto;
  outline: 1px solid greenyellow;
}

/* line 59, ../scss/style.scss */
.wr0 {
  display: flex;
  align-items: stretch;
}

/* line 64, ../scss/style.scss */
.wr1 {
  background-color: #ffffff;
  flex-grow: 2;
}

/* line 72, ../scss/style.scss */
.wr2 {
  background-color: #e94e38;
  flex-grow: 2;
}

/* line 80, ../scss/style.scss */
.wr3 {
  padding-right: 0;
  background-color: #ffffff;
}

/* line 86, ../scss/style.scss */
.header__row {
  display: flex;
  padding-right: 0;
  padding-left: 0;
}
/* line 94, ../scss/style.scss */
.header__logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center left;
}
/* line 99, ../scss/style.scss */
.header__userform {
  background-color: #e94e38;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
/* line 106, ../scss/style.scss */
.header__login {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 30px;
  margin-left: 40px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-size: 15px 17px;
  background-position: 0 center;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 124, ../scss/style.scss */
.header__login:hover {
  text-decoration: underline;
}
/* line 128, ../scss/style.scss */
.header__search {
  background-size: 23px 23px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e2dee0;
  cursor: pointer;
}

/* line 139, ../scss/style.scss */
.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 146, ../scss/style.scss */
.nav__item {
  margin: 0;
  list-style: none;
  margin-right: 20px;
}
/* line 151, ../scss/style.scss */
.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #96a6a7;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
}
/* line 162, ../scss/style.scss */
.nav__link:hover {
  color: #e94e38;
}

/* line 169, ../scss/style.scss */
.form__wrapper {
  min-height: 300px;
  background-image: url(../img/header_1280x449.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
/* line 176, ../scss/style.scss */
.form__wrapper::before {
  content: "";
  display: block;
  background-image: url(../img/headermask_1280x449.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000000;
  z-index: 1;
}

/* line 195, ../scss/style.scss */
.form-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
/* line 202, ../scss/style.scss */
.form-search__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 207, ../scss/style.scss */
.form-search__title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  margin-top: 58px;
}
/* line 221, ../scss/style.scss */
.form-search__select {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}
/* line 230, ../scss/style.scss */
.form-search__select .select2-container {
  width: 100% !important;
}
/* line 233, ../scss/style.scss */
.form-search__select .select2-container--default .select2-selection--single {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}
/* line 238, ../scss/style.scss */
.form-search__select .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 244, ../scss/style.scss */
.form-search__select .select2-container .select2-selection--single {
  height: auto;
}
/* line 247, ../scss/style.scss */
.form-search__select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}
/* line 250, ../scss/style.scss */
.form-search__select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  background-image: url(../img/arrow_18x15.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 15px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 261, ../scss/style.scss */
.form-search__select .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.form-search__select .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 30px;
}
/* line 265, ../scss/style.scss */
.form-search__select--target {
  padding-right: 0;
}
/* line 268, ../scss/style.scss */
.form-search__select--country {
  padding-left: 0;
}
/* line 272, ../scss/style.scss */
.form-search__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 15px 30px 15px 30px;
  margin-top: 23px;
  color: #ffffff;
  display: block;
  width: 100%;
}
/* line 289, ../scss/style.scss */
.form-search__description::placeholder {
  color: #ffffff;
}
/* line 293, ../scss/style.scss */
.form-search__button {
  display: block;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  background-color: #e94e38;
  border-radius: 50px;
  margin-top: 29px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 0 0 #c1412e;
  padding: 5px 32px;
}
/* line 313, ../scss/style.scss */
.form-search__button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 2px 0 #9c3121;
  background-color: #9c3121;
}

/* line 321, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s1.select2-dropdown--below {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}
/* line 331, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s1.select2-dropdown--below .select2-search--dropdown .select2-search__field {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}

/* line 343, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s2.select2-dropdown--below {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}
/* line 353, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s2.select2-dropdown--below .select2-search--dropdown .select2-search__field {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}

/* line 365, ../scss/style.scss */
.select2-container--default .myselect-dropdown-s1 .select2-results__option--highlighted[aria-selected] {
  background-color: #e94e38;
}

/* line 369, ../scss/style.scss */
.select2-container--default .myselect-dropdown-s2 .select2-results__option--highlighted[aria-selected] {
  background-color: #e94e38;
}

/* line 373, ../scss/style.scss */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 377, ../scss/style.scss */
.filter__wrapper {
  background-color: #fff;
}
/* line 380, ../scss/style.scss */
.filter__select {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}
/* line 391, ../scss/style.scss */
.filter .select2-container {
  width: 100% !important;
}
/* line 394, ../scss/style.scss */
.filter .select2-container--default .select2-selection--single {
  border: solid 1px #96a6a7;
  background-color: #f3f1f2;
  border-radius: 30px;
}
/* line 399, ../scss/style.scss */
.filter .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #e94e38;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 3px;
}
/* line 406, ../scss/style.scss */
.filter .select2-container .select2-selection--single {
  height: auto;
}
/* line 409, ../scss/style.scss */
.filter .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}
/* line 412, ../scss/style.scss */
.filter .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  background-image: url(../img/arrow_18x15.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 15px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 423, ../scss/style.scss */
.filter .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.filter .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 30px;
}
/* line 427, ../scss/style.scss */
.filter__button {
  border: none;
  background-color: #1baf5d;
  border: solid 1px #1baf5d;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 10px 46px 10px 19px;
  position: relative;
}
/* line 444, ../scss/style.scss */
.filter__button:hover {
  background-color: #96caad;
  cursor: pointer;
}
/* line 448, ../scss/style.scss */
.filter__button::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 10px;
  right: 10px;
  background-image: url(../img/map-marker-alt.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 461, ../scss/style.scss */
.filter__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 468, ../scss/style.scss */
.filter__item {
  list-style: none;
  position: relative;
}
/* line 472, ../scss/style.scss */
.filter__input {
  width: 10px;
  height: 10px;
}
/* line 475, ../scss/style.scss */
.filter__input--1:checked + .filter__label {
  background-color: #1baf5d;
  border: solid 1px #168e4b;
}
/* line 478, ../scss/style.scss */
.filter__input--1:checked + .filter__label:hover {
  background-color: #6ae4a1;
  border: solid 1px #168e4b;
}
/* line 483, ../scss/style.scss */
.filter__input--2:checked + .filter__label {
  background-color: #d43030;
  border: solid 1px #b42828;
}
/* line 486, ../scss/style.scss */
.filter__input--2:checked + .filter__label:hover {
  background-color: #d47272;
  border: solid 1px #b42828;
}
/* line 491, ../scss/style.scss */
.filter__input--3:checked + .filter__label {
  background-color: #337ae4;
  border: solid 1px #2764be;
}
/* line 494, ../scss/style.scss */
.filter__input--3:checked + .filter__label:hover {
  background-color: #6397e4;
  border: solid 1px #2764be;
}
/* line 499, ../scss/style.scss */
.filter__input--4:checked + .filter__label {
  background-color: #f19e1f;
  border: solid 1px #db901c;
}
/* line 502, ../scss/style.scss */
.filter__input--4:checked + .filter__label:hover {
  background-color: #ebb768;
  border: solid 1px #db901c;
}
/* line 507, ../scss/style.scss */
.filter__input--5:checked + .filter__label {
  background-color: #88499c;
  border: solid 1px #783f8a;
}
/* line 510, ../scss/style.scss */
.filter__input--5:checked + .filter__label:hover {
  background-color: #9568a3;
  border: solid 1px #783f8a;
}
/* line 516, ../scss/style.scss */
.filter__label {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: -10px;
  left: -10px;
  background-color: #b6c0c1;
  border: solid 1px #b6c0c1;
  border-radius: 50%;
  z-index: 1;
}
/* line 528, ../scss/style.scss */
.filter__label--1::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 540, ../scss/style.scss */
.filter__label--1:hover {
  background-color: #1baf5d;
  border: solid 1px #168e4b;
}
/* line 546, ../scss/style.scss */
.filter__label--2::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/girl.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 558, ../scss/style.scss */
.filter__label--2:hover {
  background-color: #d43030;
  border: solid 1px #b42828;
}
/* line 564, ../scss/style.scss */
.filter__label--3::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/cap.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 576, ../scss/style.scss */
.filter__label--3:hover {
  background-color: #337ae4;
  border: solid 1px #2764be;
}
/* line 582, ../scss/style.scss */
.filter__label--4::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/music.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 594, ../scss/style.scss */
.filter__label--4:hover {
  background-color: #f19e1f;
  border: solid 1px #db901c;
}
/* line 600, ../scss/style.scss */
.filter__label--5::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/bus.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 612, ../scss/style.scss */
.filter__label--5:hover {
  background-color: #88499c;
  border: solid 1px #783f8a;
}
/* line 618, ../scss/style.scss */
.filter__title {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #96a6a7;
}
/* line 631, ../scss/style.scss */
.filter__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #96a6a7;
}
/* line 643, ../scss/style.scss */
.filter__link:hover {
  color: #e94e38;
}
/* line 646, ../scss/style.scss */
.filter__link--active {
  color: #e94e38;
}
/* line 650, ../scss/style.scss */
.filter__country {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 657, ../scss/style.scss */
.cards div[class*=col] {
  display: flex;
}

/* line 661, ../scss/style.scss */
.card {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
/* line 671, ../scss/style.scss */
.card__img {
  width: 100%;
  min-height: 140px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 678, ../scss/style.scss */
.card__img--1 {
  background-image: url(../img/pic1_270x180.jpg);
  border-bottom: 3px solid #1baf5d;
}
/* line 682, ../scss/style.scss */
.card__img--2 {
  background-image: url(../img/pic2_270x180.jpg);
  border-bottom: 3px solid #f19e1f;
}
/* line 686, ../scss/style.scss */
.card__img--3 {
  background-image: url(../img/pic1_270x180.jpg);
  border-bottom: 3px solid #88499c;
}
/* line 690, ../scss/style.scss */
.card__img--4 {
  background-image: url(../img/pic3_270x180.jpg);
  border-bottom: 3px solid #1baf5d;
}
/* line 694, ../scss/style.scss */
.card__img:hover .card__hover {
  display: block;
}
/* line 697, ../scss/style.scss */
.card__img:hover .card__price {
  display: none;
}
/* line 700, ../scss/style.scss */
.card__img--1::before {
  content: "";
  display: block;
  background-color: #1baf5d;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 718, ../scss/style.scss */
.card__img--2::before {
  content: "";
  display: block;
  background-color: #f19e1f;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/music.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 736, ../scss/style.scss */
.card__img--3::before {
  content: "";
  display: block;
  background-color: #88499c;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/bus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 754, ../scss/style.scss */
.card__img--4::before {
  content: "";
  display: block;
  background-color: #1baf5d;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 773, ../scss/style.scss */
.card__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  background-color: #1baf5d;
  padding: 6px 12px;
  border-radius: 25px;
  top: 7px;
  right: 8px;
  z-index: 2;
  display: block;
}
/* line 792, ../scss/style.scss */
.card__description {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #566375;
}
/* line 807, ../scss/style.scss */
.card__location {
  padding-top: 19px;
  margin-top: auto;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
}
/* line 820, ../scss/style.scss */
.card__location--1 {
  color: #1baf5d;
}
/* line 823, ../scss/style.scss */
.card__location--2 {
  color: #f19e1f;
}
/* line 826, ../scss/style.scss */
.card__location--3 {
  color: #88499c;
}
/* line 829, ../scss/style.scss */
.card__location--4 {
  color: #1baf5d;
}
/* line 833, ../scss/style.scss */
.card__rating-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6px;
  padding-bottom: 14px;
}
/* line 840, ../scss/style.scss */
.card__raiting {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #96a6a7;
}
/* line 852, ../scss/style.scss */
.card__raiting--set {
  position: absolute;
  top: 75px;
  left: 10px;
  color: #fff;
}
/* line 866, ../scss/style.scss */
.card__hover {
  position: absolute;
  opacity: 0.7;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 873, ../scss/style.scss */
.card__hover--1 {
  background-color: #1baf5d;
}
/* line 876, ../scss/style.scss */
.card__hover--2 {
  background-color: #f19e1f;
}
/* line 879, ../scss/style.scss */
.card__hover--3 {
  background-color: #88499c;
}
/* line 882, ../scss/style.scss */
.card__hover--4 {
  background-color: #1baf5d;
}
/* line 886, ../scss/style.scss */
.card__search {
  opacity: 0.7;
  border: solid 2px #ffffff;
  border-radius: 30px;
  width: 70%;
  padding: 10px 19px 10px 38px;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  color: #ffffff;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 18px 11px;
}
/* line 895, ../scss/style.scss */
.card__search--1 {
  background-color: #1baf5d;
}
/* line 898, ../scss/style.scss */
.card__search--2 {
  background-color: #f19e1f;
}
/* line 901, ../scss/style.scss */
.card__search--3 {
  background-color: #88499c;
}
/* line 904, ../scss/style.scss */
.card__search--4 {
  background-color: #1baf5d;
}
/* line 908, ../scss/style.scss */
.card__search:hover {
  cursor: pointer;
}
/* line 916, ../scss/style.scss */
.card__link {
  font-size: 0;
  background-image: url(../img/comments.svg);
  width: 25px;
  height: 20px;
  background-position: center center;
  position: absolute;
  top: 76px;
  right: 38px;
}

/* line 928, ../scss/style.scss */
.card-test {
  margin-top: 32px;
  background-color: #fff;
}
/* line 931, ../scss/style.scss */
.card-test__img {
  width: 100%;
  height: 120px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 938, ../scss/style.scss */
.card-test__img--1 {
  background-image: url(../img/pic4_550x145.jpg);
  border-bottom: 3px solid #1baf5d;
}
/* line 942, ../scss/style.scss */
.card-test__img--2 {
  background-image: url(../img/pic5_550x145.jpg);
  border-bottom: 3px solid #f19e1f;
}
/* line 946, ../scss/style.scss */
.card-test__img--1::before {
  content: "";
  display: block;
  background-color: #1baf5d;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 22px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 963, ../scss/style.scss */
.card-test__img--2::before {
  content: "";
  display: block;
  background-color: #f19e1f;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 22px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 981, ../scss/style.scss */
.card-test__img-description {
  padding-left: 98px;
  padding-top: 75px;
}
/* line 985, ../scss/style.scss */
.card-test__location {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  padding-right: 8px;
}
/* line 998, ../scss/style.scss */
.card-test__location-raiting {
  font-size: 12px;
}
/* line 1002, ../scss/style.scss */
.card-test__raiting {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
/* line 1012, ../scss/style.scss */
.card-test__raiting-current-author {
  padding-left: 98px;
  margin-top: 17px;
  display: block;
}
/* line 1018, ../scss/style.scss */
.card-test__author {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  display: block;
  padding-left: 98px;
  position: relative;
}
/* line 1032, ../scss/style.scss */
.card-test__author--1::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 50%;
  border: solid 3px #e2dee0;
  top: 16px;
  left: 20px;
  background-image: url(../img/Ellipse1_61x61.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
/* line 1047, ../scss/style.scss */
.card-test__author--1::after {
  content: "";
  display: block;
  width: 2px;
  height: 24px;
  background-color: #f3f1f2;
  position: absolute;
  top: -12px;
  left: 46px;
}
/* line 1057, ../scss/style.scss */
.card-test__author--2::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 50%;
  border: solid 3px #e2dee0;
  top: 16px;
  left: 20px;
  background-image: url(../img/Ellipse2_61x61.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
/* line 1072, ../scss/style.scss */
.card-test__author--2::after {
  content: "";
  display: block;
  width: 2px;
  height: 24px;
  background-color: #f3f1f2;
  position: absolute;
  top: -12px;
  left: 46px;
}
/* line 1083, ../scss/style.scss */
.card-test__description {
  padding-left: 98px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  display: block;
  padding-bottom: 18px;
}
/* line 1097, ../scss/style.scss */
.card-test__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  font-weight: 500;
  text-decoration: none;
}
/* line 1109, ../scss/style.scss */
.card-test__link:hover {
  text-decoration: underline;
}

/* line 1115, ../scss/style.scss */
.load-more {
  text-align: center;
  border-bottom: 2px solid #e2dee0;
}
/* line 1118, ../scss/style.scss */
.load-more__link {
  padding-top: 41px;
  padding-bottom: 35px;
  padding-right: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: center;
  color: #566375;
  background-image: url(../img/long-arrow-alt-right.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 15px 15px;
}

/* line 1139, ../scss/style.scss */
.offer {
  margin-top: 88px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 1145, ../scss/style.scss */
.offer__title {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.18;
  letter-spacing: normal;
  text-align: center;
  color: #566375;
}
/* line 1155, ../scss/style.scss */
.offer__description {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #96a6a7;
}

/* line 1167, ../scss/style.scss */
.icons {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* line 1175, ../scss/style.scss */
.icon {
  height: 100px;
  width: 100px;
  border: solid 2px #9dacad;
  border-radius: 50%;
  position: relative;
}
/* line 1181, ../scss/style.scss */
.icon:hover {
  border: solid 2px #1baf5d;
}
/* line 1184, ../scss/style.scss */
.icon:hover .icon__img {
  fill: #1baf5d;
}
/* line 1187, ../scss/style.scss */
.icon__img {
  fill: #9dacad;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 22.5px;
  left: 22.5px;
}
/* line 1195, ../scss/style.scss */
.icon--1::before {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 2px;
  background-color: #e2dee0;
  top: 49px;
  right: -85px;
}
/* line 1205, ../scss/style.scss */
.icon--2::before {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 2px;
  background-color: #e2dee0;
  top: 49px;
  right: -85px;
}
/* line 1215, ../scss/style.scss */
.icon--3::before {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 2px;
  background-color: #e2dee0;
  top: 49px;
  right: -85px;
}
/* line 1225, ../scss/style.scss */
.icon--4::before {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 2px;
  background-color: #e2dee0;
  top: 49px;
  right: -85px;
}

/* line 1237, ../scss/style.scss */
.reality {
  margin-top: 38px;
}
/* line 1239, ../scss/style.scss */
.reality__title {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1baf5d;
}
/* line 1251, ../scss/style.scss */
.reality__topic {
  margin-top: 43px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  padding-left: 95px;
  position: relative;
}
/* line 1264, ../scss/style.scss */
.reality__topic--1::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  background-image: url(../img/bolt.svg);
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #1db05e;
  border-radius: 50%;
}
/* line 1279, ../scss/style.scss */
.reality__topic--2::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  background-image: url(../img/leaf.svg);
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #1db05e;
  border-radius: 50%;
}

/* line 1297, ../scss/style.scss */
.footer {
  margin-top: 143px;
}
/* line 1299, ../scss/style.scss */
.footer__wrapper {
  min-height: 300px;
  background-image: url(../img/header_1280x449.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
/* line 1306, ../scss/style.scss */
.footer__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000000;
}
/* line 1316, ../scss/style.scss */
.footer__form {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  text-align: center;
}
/* line 1320, ../scss/style.scss */
.footer__links {
  margin-top: 42px;
}
/* line 1323, ../scss/style.scss */
.footer__list-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
}
/* line 1337, ../scss/style.scss */
.footer__list {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  padding-bottom: 64px;
}
/* line 1343, ../scss/style.scss */
.footer__item {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 1347, ../scss/style.scss */
.footer__item--social {
  display: inline-block;
  vertical-align: top;
}
/* line 1352, ../scss/style.scss */
.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #c0bebc;
  text-decoration: none;
}
/* line 1363, ../scss/style.scss */
.footer__link:hover {
  text-decoration: underline;
}
/* line 1366, ../scss/style.scss */
.footer__link--fb {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/facebook-f.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
  font-size: 0;
}
/* line 1376, ../scss/style.scss */
.footer__link--tw {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
  font-size: 0;
}
/* line 1386, ../scss/style.scss */
.footer__link--gp {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/google-plus-g.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
  font-size: 0;
}
/* line 1396, ../scss/style.scss */
.footer__link--yt {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
  font-size: 0;
}
/* line 1406, ../scss/style.scss */
.footer__link--copy {
  display: block;
  margin-top: 60px;
}

/* line 1414, ../scss/style.scss */
.form-subscribe__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  padding-top: 61px;
  position: relative;
}
/* line 1428, ../scss/style.scss */
.form-subscribe__input {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-size: 18px 15px;
  background-position: 30px center;
  padding: 10px 276px 10px 69px;
  border-radius: 50px;
  position: relative;
}
/* line 1447, ../scss/style.scss */
.form-subscribe__input::placeholder {
  color: #ffffff;
}
/* line 1451, ../scss/style.scss */
.form-subscribe__wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 57px;
}
/* line 1456, ../scss/style.scss */
.form-subscribe__button {
  position: absolute;
  border: none;
  background-color: #e94e38;
  box-shadow: 0px 2px 0 0 #c1412e;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  padding: 12px 20px;
  border-radius: 40px;
  top: 5px;
  right: 5px;
}
/* line 1476, ../scss/style.scss */
.form-subscribe__button:hover {
  cursor: pointer;
  background-color: #c0301d;
}

/* line 1483, ../scss/style.scss */
.fa-star {
  color: #f19e1f;
}

/*# sourceMappingURL=style.css.map */
