/*
	Ratings Stars
	(with as little code as possible)
*/
/* line 7, ../scss/style.scss */
.card__rating--set {
  margin-left: -23px;
  padding-bottom: 3px;
  direction: rtl;
  text-align: center;
}

/* line 14, ../scss/style.scss */
.card__rating--set > span {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../img/star--white.svg");
  background-repeat: no-repeat;
}

/* line 23, ../scss/style.scss */
.card__rating--set > *:hover:before,
.card__rating--set > *:hover ~ span:before,
.card__rating--set > input:checked ~ span:before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/star_fill--white.svg");
  background-repeat: no-repeat;
}

/* line 37, ../scss/style.scss */
.card__rating--set > input {
  margin-left: -22px;
  margin-right: 0;
  top: -6px;
  width: 11px;
  height: 11px;
  position: relative;
  z-index: 2;
  opacity: 0;
}

/* line 49, ../scss/style.scss */
body {
  margin: 0;
  background-color: #f3f1f2;
}

/* line 54, ../scss/style.scss */
.container {
  margin: 0 auto;
}

/* line 58, ../scss/style.scss */
.wr0 {
  display: flex;
  align-items: stretch;
}

/* line 63, ../scss/style.scss */
.wr1 {
  background-color: #ffffff;
  flex-grow: 2;
}

/* line 68, ../scss/style.scss */
.wr2 {
  background-color: #e94e38;
  flex-grow: 2;
}

/* line 73, ../scss/style.scss */
.wr3 {
  padding-right: 0;
  background-color: #ffffff;
}

/* line 79, ../scss/style.scss */
.header__row {
  display: flex;
  justify-content: center;
  padding-right: 0;
  padding-left: 0;
  align-items: stretch;
}
@media screen and (max-width: 767px) {
  /* line 79, ../scss/style.scss */
  .header__row {
    flex-wrap: wrap;
  }
}
/* line 89, ../scss/style.scss */
.header__logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 154px 45px;
  width: 154px;
  margin-right: auto;
}
/* line 97, ../scss/style.scss */
.header__menu {
  display: none;
  position: relative;
}
@media screen and (max-width: 990px) {
  /* line 97, ../scss/style.scss */
  .header__menu {
    display: block;
  }
}
/* line 104, ../scss/style.scss */
.header__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #96a6a7;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 25px;
  display: inline-block;
}
/* line 114, ../scss/style.scss */
.header__link:hover {
  color: #e94e38;
}
@media screen and (max-width: 990px) {
  /* line 118, ../scss/style.scss */
  .header__nav {
    display: none;
  }
}
/* line 123, ../scss/style.scss */
.header__userform {
  background-color: #e94e38;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
@media screen and (max-width: 575px) {
  /* line 123, ../scss/style.scss */
  .header__userform {
    width: 48%;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
/* line 139, ../scss/style.scss */
.header__login {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 30px;
  margin-left: 40px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-size: 15px 17px;
  background-position: 0 center;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 15px;
}
/* line 158, ../scss/style.scss */
.header__login:hover {
  text-decoration: underline;
}
/* line 162, ../scss/style.scss */
.header__search {
  background-size: 23px 23px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e2dee0;
  cursor: pointer;
  width: 74px;
}
@media screen and (max-width: 575px) {
  /* line 162, ../scss/style.scss */
  .header__search {
    width: 50px;
  }
}

/* line 177, ../scss/style.scss */
.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 184, ../scss/style.scss */
.nav__item {
  margin: 0;
  list-style: none;
  margin-right: 20px;
}
/* line 189, ../scss/style.scss */
.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #96a6a7;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
}
/* line 200, ../scss/style.scss */
.nav__link:hover {
  color: #e94e38;
}

/* line 207, ../scss/style.scss */
.form__wrapper {
  min-height: 300px;
  background-image: url(../img/header_1280x449.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
/* line 214, ../scss/style.scss */
.form__wrapper::before {
  content: "";
  display: block;
  background-image: url(../img/headermask_1280x449.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000000;
  z-index: 1;
}

/* line 233, ../scss/style.scss */
.form-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
/* line 240, ../scss/style.scss */
.form-search__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  /* line 240, ../scss/style.scss */
  .form-search__wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
/* line 249, ../scss/style.scss */
.form-search__title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  margin-top: 58px;
}
/* line 263, ../scss/style.scss */
.form-search__select {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}
/* line 272, ../scss/style.scss */
.form-search__select .select2-container {
  width: 100% !important;
}
/* line 275, ../scss/style.scss */
.form-search__select .select2-container--default .select2-selection--single {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}
/* line 280, ../scss/style.scss */
.form-search__select .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
}
/* line 287, ../scss/style.scss */
.form-search__select .select2-container .select2-selection--single {
  height: auto;
}
/* line 290, ../scss/style.scss */
.form-search__select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 80%;
  top: 9px;
  right: 15px;
}
/* line 295, ../scss/style.scss */
.form-search__select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  background-image: url(../img/arrow_18x15.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 15px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 306, ../scss/style.scss */
.form-search__select .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.form-search__select .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 30px;
}
/* line 310, ../scss/style.scss */
.form-search__select--target {
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  /* line 310, ../scss/style.scss */
  .form-search__select--target {
    padding: 0;
    margin-top: 23px;
  }
}
/* line 317, ../scss/style.scss */
.form-search__select--country {
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  /* line 317, ../scss/style.scss */
  .form-search__select--country {
    padding: 0;
  }
}
/* line 324, ../scss/style.scss */
.form-search__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 15px 30px 15px 30px;
  margin-top: 23px;
  color: #ffffff;
  display: block;
  width: 100%;
}
/* line 341, ../scss/style.scss */
.form-search__description::placeholder {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  /* line 324, ../scss/style.scss */
  .form-search__description {
    font-size: 16px;
  }
}
/* line 348, ../scss/style.scss */
.form-search__button {
  display: block;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  background-color: #e94e38;
  border-radius: 50px;
  margin-top: 29px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 0 0 #c1412e;
  padding: 5px 32px;
}
/* line 368, ../scss/style.scss */
.form-search__button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 2px 0 #9c3121;
  background-color: #9c3121;
}

/* line 376, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s1.select2-dropdown--below {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}
/* line 386, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s1.select2-dropdown--below .select2-search--dropdown .select2-search__field {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}

/* line 398, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s2.select2-dropdown--below {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}
/* line 408, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s2.select2-dropdown--below .select2-search--dropdown .select2-search__field {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}

/* line 419, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s3.select2-dropdown--below {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}
/* line 429, ../scss/style.scss */
.select2-dropdown.myselect-dropdown-s3.select2-dropdown--below .select2-search--dropdown .select2-search__field {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}

/* line 441, ../scss/style.scss */
.select2-container--default .myselect-dropdown-s1 .select2-results__option--highlighted[aria-selected] {
  background-color: #e94e38;
}

/* line 445, ../scss/style.scss */
.select2-container--default .myselect-dropdown-s2 .select2-results__option--highlighted[aria-selected] {
  background-color: #e94e38;
}

/* line 448, ../scss/style.scss */
.select2-container--default .myselect-dropdown-s3 .select2-results__option--highlighted[aria-selected] {
  background-color: #e94e38;
}

/* line 452, ../scss/style.scss */
.select2-container--open .select2-selection__arrow b {
  transform: scale(1, -1);
}

/* line 457, ../scss/style.scss */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  /* line 457, ../scss/style.scss */
  .filter {
    flex-direction: column;
  }
}
/* line 464, ../scss/style.scss */
.filter__wrapper {
  background-color: #fff;
}
/* line 467, ../scss/style.scss */
.filter__select {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}
/* line 478, ../scss/style.scss */
.filter .select2-container {
  width: 100% !important;
}
/* line 481, ../scss/style.scss */
.filter .select2-container--default .select2-selection--single {
  border: solid 1px #96a6a7;
  background-color: #f3f1f2;
  border-radius: 20px;
}
/* line 486, ../scss/style.scss */
.filter .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #e94e38;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 3px;
}
/* line 493, ../scss/style.scss */
.filter .select2-container .select2-selection--single {
  height: 100%;
}
/* line 496, ../scss/style.scss */
.filter .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  top: 0;
}
/* line 500, ../scss/style.scss */
.filter .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  background-image: url("../img/angle-down.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 15px;
  height: 18px;
  width: 15px;
  top: 50%;
  margin-top: -9px;
  left: 0;
}
/* line 512, ../scss/style.scss */
.filter .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.filter .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 30px;
}
/* line 519, ../scss/style.scss */
.filter__button {
  background-color: #1baf5d;
  border: solid 1px #1baf5d;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 10px 20px 10px 19px;
  position: relative;
}
/* line 535, ../scss/style.scss */
.filter__button:hover {
  background-color: #96caad;
  cursor: pointer;
}
/* line 539, ../scss/style.scss */
.filter__button::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 10px;
  right: 10px;
  background-image: url(../img/map-marker-alt.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 552, ../scss/style.scss */
.filter__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 991px) {
  /* line 552, ../scss/style.scss */
  .filter__list {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
/* line 563, ../scss/style.scss */
.filter__item {
  list-style: none;
  position: relative;
}
/* line 567, ../scss/style.scss */
.filter__input {
  width: 10px;
  height: 10px;
}
/* line 570, ../scss/style.scss */
.filter__input--1:checked + .filter__label {
  background-color: #1baf5d;
  border: solid 1px #168e4b;
}
/* line 573, ../scss/style.scss */
.filter__input--1:checked + .filter__label:hover {
  background-color: #6ae4a1;
  border: solid 1px #168e4b;
}
/* line 578, ../scss/style.scss */
.filter__input--2:checked + .filter__label {
  background-color: #d43030;
  border: solid 1px #b42828;
}
/* line 581, ../scss/style.scss */
.filter__input--2:checked + .filter__label:hover {
  background-color: #d47272;
  border: solid 1px #b42828;
}
/* line 586, ../scss/style.scss */
.filter__input--3:checked + .filter__label {
  background-color: #337ae4;
  border: solid 1px #2764be;
}
/* line 589, ../scss/style.scss */
.filter__input--3:checked + .filter__label:hover {
  background-color: #6397e4;
  border: solid 1px #2764be;
}
/* line 594, ../scss/style.scss */
.filter__input--4:checked + .filter__label {
  background-color: #f19e1f;
  border: solid 1px #db901c;
}
/* line 597, ../scss/style.scss */
.filter__input--4:checked + .filter__label:hover {
  background-color: #ebb767;
  border: solid 1px #db901c;
}
/* line 602, ../scss/style.scss */
.filter__input--5:checked + .filter__label {
  background-color: #88499c;
  border: solid 1px #783f8a;
}
/* line 605, ../scss/style.scss */
.filter__input--5:checked + .filter__label:hover {
  background-color: #9568a3;
  border: solid 1px #783f8a;
}
/* line 611, ../scss/style.scss */
.filter__label {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: -10px;
  left: -10px;
  background-color: #b6c0c1;
  border: solid 1px #b6c0c1;
  border-radius: 50%;
  z-index: 1;
}
/* line 623, ../scss/style.scss */
.filter__label--1::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 635, ../scss/style.scss */
.filter__label--1:hover {
  background-color: #1baf5d;
  border: solid 1px #168e4b;
}
/* line 641, ../scss/style.scss */
.filter__label--2::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/girl.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 653, ../scss/style.scss */
.filter__label--2:hover {
  background-color: #d43030;
  border: solid 1px #b42828;
}
/* line 659, ../scss/style.scss */
.filter__label--3::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/cap.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 671, ../scss/style.scss */
.filter__label--3:hover {
  background-color: #337ae4;
  border: solid 1px #2764be;
}
/* line 677, ../scss/style.scss */
.filter__label--4::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/music.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 689, ../scss/style.scss */
.filter__label--4:hover {
  background-color: #f19e1f;
  border: solid 1px #db901c;
}
/* line 695, ../scss/style.scss */
.filter__label--5::before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/bus.svg);
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 24px 19px;
}
/* line 707, ../scss/style.scss */
.filter__label--5:hover {
  background-color: #88499c;
  border: solid 1px #783f8a;
}
/* line 713, ../scss/style.scss */
.filter__title {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #96a6a7;
}
/* line 726, ../scss/style.scss */
.filter__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #96a6a7;
}
/* line 738, ../scss/style.scss */
.filter__link:hover {
  color: #e94e38;
}
/* line 741, ../scss/style.scss */
.filter__link--active {
  color: #e94e38;
}
/* line 745, ../scss/style.scss */
.filter__country {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  /* line 745, ../scss/style.scss */
  .filter__country {
    justify-content: space-between;
  }
}

/* line 755, ../scss/style.scss */
.cards div[class*=col] {
  display: flex;
}

/* line 759, ../scss/style.scss */
.card {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
/* line 769, ../scss/style.scss */
.card__img {
  width: 100%;
  min-height: 140px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 776, ../scss/style.scss */
.card__img--1 {
  background-image: url(../img/pic1_270x180.jpg);
  border-bottom: 3px solid #1baf5d;
}
/* line 780, ../scss/style.scss */
.card__img--2 {
  background-image: url(../img/pic2_270x180.jpg);
  border-bottom: 3px solid #f19e1f;
}
/* line 784, ../scss/style.scss */
.card__img--3 {
  background-image: url(../img/pic1_270x180.jpg);
  border-bottom: 3px solid #88499c;
}
/* line 788, ../scss/style.scss */
.card__img--4 {
  background-image: url(../img/pic3_270x180.jpg);
  border-bottom: 3px solid #1baf5d;
}
/* line 792, ../scss/style.scss */
.card__img:hover .card__hover {
  display: block;
}
/* line 795, ../scss/style.scss */
.card__img:hover .card__price {
  display: none;
}
/* line 798, ../scss/style.scss */
.card__img--1::before {
  content: "";
  display: block;
  background-color: #1baf5d;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 816, ../scss/style.scss */
.card__img--2::before {
  content: "";
  display: block;
  background-color: #f19e1f;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/music.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 834, ../scss/style.scss */
.card__img--3::before {
  content: "";
  display: block;
  background-color: #88499c;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/bus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 852, ../scss/style.scss */
.card__img--4::before {
  content: "";
  display: block;
  background-color: #1baf5d;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 871, ../scss/style.scss */
.card__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  background-color: #1baf5d;
  padding: 6px 12px;
  border-radius: 25px;
  top: 7px;
  right: 8px;
  z-index: 2;
  display: block;
}
/* line 890, ../scss/style.scss */
.card__description {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #566375;
}
/* line 905, ../scss/style.scss */
.card__location {
  padding-top: 19px;
  margin-top: auto;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
}
/* line 917, ../scss/style.scss */
.card__location--1 {
  color: #1baf5d;
}
/* line 920, ../scss/style.scss */
.card__location--2 {
  color: #f19e1f;
}
/* line 923, ../scss/style.scss */
.card__location--3 {
  color: #88499c;
}
/* line 926, ../scss/style.scss */
.card__location--4 {
  color: #1baf5d;
}
/* line 930, ../scss/style.scss */
.card__rating-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  padding-bottom: 14px;
  width: 100%;
}
/* line 938, ../scss/style.scss */
.card__star-rating {
  font-size: 12px;
  margin-right: 10px;
}
/* line 942, ../scss/style.scss */
.card__rating {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #96a6a7;
}
/* line 952, ../scss/style.scss */
.card__rating--set {
  position: absolute;
  left: 0;
  color: #fff;
}
/* line 986, ../scss/style.scss */
.card__hover {
  position: absolute;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 993, ../scss/style.scss */
.card__hover::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  opacity: 0.7;
  height: 100%;
  width: 100%;
}
/* line 1002, ../scss/style.scss */
.card__hover--1::before {
  background-color: #1baf5d;
}
/* line 1005, ../scss/style.scss */
.card__hover--2::before {
  background-color: #f19e1f;
}
/* line 1008, ../scss/style.scss */
.card__hover--3::before {
  background-color: #88499c;
}
/* line 1011, ../scss/style.scss */
.card__hover--4::before {
  background-color: #1baf5d;
}
/* line 1015, ../scss/style.scss */
.card__hover-container {
  width: 70%;
  margin: 15px auto 0;
  position: relative;
}
/* line 1021, ../scss/style.scss */
.card__search {
  opacity: 0.9;
  border: solid 2px #ffffff;
  border-radius: 30px;
  width: 70%;
  padding: 10px 19px 10px 38px;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  color: #ffffff;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 18px 11px;
}
/* line 1030, ../scss/style.scss */
.card__search--1 {
  background-color: #1baf5d;
}
/* line 1033, ../scss/style.scss */
.card__search--2 {
  background-color: #f19e1f;
}
/* line 1036, ../scss/style.scss */
.card__search--3 {
  background-color: #88499c;
}
/* line 1039, ../scss/style.scss */
.card__search--4 {
  background-color: #1baf5d;
}
/* line 1043, ../scss/style.scss */
.card__search:hover {
  cursor: pointer;
}
/* line 1051, ../scss/style.scss */
.card__link {
  font-size: 0;
  background-image: url(../img/comments.svg);
  width: 25px;
  height: 20px;
  background-position: center center;
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
}

/* line 1065, ../scss/style.scss */
.card-test {
  margin-top: 32px;
  background-color: #fff;
}
/* line 1068, ../scss/style.scss */
.card-test__img {
  width: 100%;
  height: 120px;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 1075, ../scss/style.scss */
.card-test__img--1 {
  background-image: url(../img/pic4_550x145.jpg);
  border-bottom: 3px solid #1baf5d;
}
/* line 1079, ../scss/style.scss */
.card-test__img--2 {
  background-image: url(../img/pic5_550x145.jpg);
  border-bottom: 3px solid #f19e1f;
}
/* line 1083, ../scss/style.scss */
.card-test__img--1::before {
  content: "";
  display: block;
  background-color: #1baf5d;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 22px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 1100, ../scss/style.scss */
.card-test__img--2::before {
  content: "";
  display: block;
  background-color: #f19e1f;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 22px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 1118, ../scss/style.scss */
.card-test__img-description {
  padding-left: 98px;
  padding-top: 75px;
}
@media screen and (max-width: 575px) {
  /* line 1118, ../scss/style.scss */
  .card-test__img-description {
    padding-top: 15px;
    padding-left: 65px;
  }
}
/* line 1126, ../scss/style.scss */
.card-test__location {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  padding-right: 8px;
  display: inline-block;
}
@media screen and (max-width: 575px) {
  /* line 1126, ../scss/style.scss */
  .card-test__location {
    display: block;
  }
}
/* line 1144, ../scss/style.scss */
.card-test__location-rating {
  font-size: 12px;
}
/* line 1148, ../scss/style.scss */
.card-test__rating {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
/* line 1158, ../scss/style.scss */
.card-test__rating-current-author {
  padding-left: 98px;
  margin-top: 17px;
  display: block;
}
/* line 1164, ../scss/style.scss */
.card-test__author {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  display: block;
  padding-left: 98px;
  position: relative;
}
/* line 1178, ../scss/style.scss */
.card-test__author--1::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 50%;
  border: solid 3px #e2dee0;
  top: 16px;
  left: 20px;
  background-image: url(../img/Ellipse1_61x61.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
/* line 1193, ../scss/style.scss */
.card-test__author--1::after {
  content: "";
  display: block;
  width: 2px;
  height: 24px;
  background-color: #f3f1f2;
  position: absolute;
  top: -12px;
  left: 46px;
}
/* line 1203, ../scss/style.scss */
.card-test__author--2::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  border-radius: 50%;
  border: solid 3px #e2dee0;
  top: 16px;
  left: 20px;
  background-image: url(../img/Ellipse2_61x61.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
/* line 1218, ../scss/style.scss */
.card-test__author--2::after {
  content: "";
  display: block;
  width: 2px;
  height: 24px;
  background-color: #f3f1f2;
  position: absolute;
  top: -12px;
  left: 46px;
}
/* line 1229, ../scss/style.scss */
.card-test__description {
  padding-left: 98px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  display: block;
  padding-bottom: 18px;
  padding-right: 15px;
}
/* line 1244, ../scss/style.scss */
.card-test__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  font-weight: 500;
  text-decoration: none;
}
/* line 1256, ../scss/style.scss */
.card-test__link:hover {
  text-decoration: underline;
}

/* line 1262, ../scss/style.scss */
.load-more {
  text-align: center;
  border-bottom: 2px solid #e2dee0;
}
/* line 1265, ../scss/style.scss */
.load-more__link {
  padding-top: 41px;
  padding-bottom: 35px;
  padding-right: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: center;
  color: #566375;
}

/* line 1282, ../scss/style.scss */
.offer {
  margin-top: 88px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 1288, ../scss/style.scss */
.offer__title {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.18;
  letter-spacing: normal;
  text-align: center;
  color: #566375;
}
/* line 1298, ../scss/style.scss */
.offer__description {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #96a6a7;
}

/* line 1310, ../scss/style.scss */
.icons {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* line 1318, ../scss/style.scss */
.icon {
  height: 100px;
  width: 100px;
  border: solid 2px #9dacad;
  border-radius: 50%;
  position: relative;
}
@media screen and (max-width: 575px) {
  /* line 1318, ../scss/style.scss */
  .icon {
    margin-top: 15px;
  }
}
/* line 1327, ../scss/style.scss */
.icon:hover {
  border: solid 2px #1baf5d;
}
/* line 1330, ../scss/style.scss */
.icon:hover .icon__img {
  fill: #1baf5d;
}
/* line 1333, ../scss/style.scss */
.icon__img {
  fill: #9dacad;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 22.5px;
  left: 22.5px;
}
/* line 1341, ../scss/style.scss */
.icon--1::before {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 2px;
  background-color: #e2dee0;
  top: 49px;
  right: -85px;
}
@media screen and (max-width: 991px) {
  /* line 1341, ../scss/style.scss */
  .icon--1::before {
    width: 25px;
    right: -35px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1341, ../scss/style.scss */
  .icon--1::before {
    display: none;
  }
}
/* line 1358, ../scss/style.scss */
.icon--2::before {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 2px;
  background-color: #e2dee0;
  top: 49px;
  right: -85px;
}
@media screen and (max-width: 991px) {
  /* line 1358, ../scss/style.scss */
  .icon--2::before {
    width: 25px;
    right: -35px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1358, ../scss/style.scss */
  .icon--2::before {
    display: none;
  }
}
/* line 1375, ../scss/style.scss */
.icon--3::before {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 2px;
  background-color: #e2dee0;
  top: 49px;
  right: -85px;
}
@media screen and (max-width: 991px) {
  /* line 1375, ../scss/style.scss */
  .icon--3::before {
    width: 25px;
    right: -35px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1375, ../scss/style.scss */
  .icon--3::before {
    display: none;
  }
}
/* line 1392, ../scss/style.scss */
.icon--4::before {
  content: "";
  position: absolute;
  display: block;
  width: 53px;
  height: 2px;
  background-color: #e2dee0;
  top: 49px;
  right: -85px;
}
@media screen and (max-width: 991px) {
  /* line 1392, ../scss/style.scss */
  .icon--4::before {
    width: 25px;
    right: -35px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1392, ../scss/style.scss */
  .icon--4::before {
    display: none;
  }
}

/* line 1411, ../scss/style.scss */
.reality {
  margin-top: 38px;
}
/* line 1413, ../scss/style.scss */
.reality__title {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1baf5d;
}
/* line 1425, ../scss/style.scss */
.reality__topic {
  margin-top: 43px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  padding-left: 95px;
  position: relative;
}
/* line 1438, ../scss/style.scss */
.reality__topic--1::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  background-image: url(../img/bolt.svg);
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #1db05e;
  border-radius: 50%;
}
/* line 1453, ../scss/style.scss */
.reality__topic--2::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  background-image: url(../img/leaf.svg);
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #1db05e;
  border-radius: 50%;
}

/* line 1471, ../scss/style.scss */
.footer {
  margin-top: 143px;
}
/* line 1473, ../scss/style.scss */
.footer__wrapper {
  min-height: 300px;
  background-image: url(../img/header_1280x449.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
/* line 1480, ../scss/style.scss */
.footer__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000000;
}
/* line 1490, ../scss/style.scss */
.footer__form {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  text-align: center;
}
/* line 1494, ../scss/style.scss */
.footer__links {
  margin-top: 42px;
}
/* line 1497, ../scss/style.scss */
.footer__list-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
}
/* line 1511, ../scss/style.scss */
.footer__list {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  padding-bottom: 64px;
}
/* line 1517, ../scss/style.scss */
.footer__item {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 1521, ../scss/style.scss */
.footer__item--copy {
  display: block;
  margin-top: 60px;
}
/* line 1525, ../scss/style.scss */
.footer__item--social {
  display: inline-block;
  vertical-align: top;
}
/* line 1530, ../scss/style.scss */
.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #c0bebc;
  text-decoration: none;
}
/* line 1541, ../scss/style.scss */
.footer__link:hover {
  text-decoration: underline;
}
/* line 1544, ../scss/style.scss */
.footer__link--social {
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
}
/* line 1548, ../scss/style.scss */
.footer__link--social:hover {
  color: #e94e38;
}

/* line 1556, ../scss/style.scss */
.form-subscribe__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  padding-top: 61px;
  position: relative;
}
/* line 1570, ../scss/style.scss */
.form-subscribe__input {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url(../img/mail.svg);
  background-repeat: no-repeat;
  background-size: 18px 15px;
  background-position: 30px center;
  padding: 10px 276px 10px 69px;
  border-radius: 50px;
  position: relative;
}
/* line 1589, ../scss/style.scss */
.form-subscribe__input::placeholder {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  /* line 1570, ../scss/style.scss */
  .form-subscribe__input {
    padding: 10px 76px 10px 69px;
  }
}
@media screen and (max-width: 470px) {
  /* line 1570, ../scss/style.scss */
  .form-subscribe__input {
    padding: 10px 5px 10px 35px;
    background-position: 20px center;
    text-align: center;
  }
}
/* line 1601, ../scss/style.scss */
.form-subscribe__wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 57px;
}
/* line 1606, ../scss/style.scss */
.form-subscribe__button {
  position: absolute;
  border: none;
  background-color: #e94e38;
  box-shadow: 0px 2px 0 0 #c1412e;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  padding: 12px 20px;
  border-radius: 40px;
  top: 5px;
  right: 5px;
}
/* line 1626, ../scss/style.scss */
.form-subscribe__button:hover {
  cursor: pointer;
  background-color: #c0301d;
}
@media screen and (max-width: 470px) {
  /* line 1606, ../scss/style.scss */
  .form-subscribe__button {
    top: 60px;
    right: 0px;
    width: 100%;
  }
}

/* line 1638, ../scss/style.scss */
.fa-star {
  color: #f19e1f;
}

/*# sourceMappingURL=style.css.map */
