/* line 2, ../scss/style.scss */
body {
  margin: 0;
}

/* line 6, ../scss/style.scss */
.container {
  margin: 0 auto;
}

/* line 11, ../scss/style.scss */
.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

/* line 19, ../scss/style.scss */
.logo__img {
  width: 154px;
  height: 45px;
  display: block;
}

/* line 26, ../scss/style.scss */
.main-nav {
  margin-left: 100px;
}
/* line 28, ../scss/style.scss */
.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 35, ../scss/style.scss */
.main-nav__item {
  margin: 0;
  list-style: none;
  margin-right: 20px;
}
/* line 40, ../scss/style.scss */
.main-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #96a6a7;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
/* line 48, ../scss/style.scss */
.main-nav__link:hover {
  color: #e94e38;
}

/* line 54, ../scss/style.scss */
.search {
  background-color: #e2dee0;
  padding: 0 30px;
}
/* line 57, ../scss/style.scss */
.search__img {
  width: 23px;
  height: 23px;
  fill: #fff;
  display: block;
}
/* line 62, ../scss/style.scss */
.search__img:hover {
  fill: #e94e38;
}

/* line 69, ../scss/style.scss */
.login__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  background-color: #e94e38;
  display: block;
  padding-left: 70px;
  position: relative;
}
/* line 81, ../scss/style.scss */
.login__link::before {
  content: "";
  display: block;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 5px;
  left: 40px;
}

/* line 96, ../scss/style.scss */
.form__wrapper {
  min-height: 300px;
  background-image: url(../img/header_1280x449.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
/* line 103, ../scss/style.scss */
.form__wrapper::before {
  content: "";
  display: block;
  background-image: url(../img/headermask_1280x449.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #000000;
  z-index: 1;
}

/* line 122, ../scss/style.scss */
.form-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}
/* line 128, ../scss/style.scss */
.form-search__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 501px;
}
/* line 134, ../scss/style.scss */
.form-search__title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  margin-top: 58px;
}
/* line 148, ../scss/style.scss */
.form-search__select {
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 15px 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
/* line 168, ../scss/style.scss */
.form-search__select--target {
  width: 48%;
}
/* line 171, ../scss/style.scss */
.form-search__select--country {
  width: 48%;
}
/* line 174, ../scss/style.scss */
.form-search__select::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/arrow_18x15.png);
  background-size: contain;
  width: 14px;
  height: 9px;
  top: 0;
  left: 0;
}
/* line 187, ../scss/style.scss */
.form-search__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 15px 236px 15px 30px;
  margin-top: 23px;
  color: #ffffff;
}
/* line 202, ../scss/style.scss */
.form-search__description::placeholder {
  color: #ffffff;
}
/* line 206, ../scss/style.scss */
.form-search__button {
  display: block;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
  background-color: #e94e38;
  border-radius: 50px;
  margin-top: 29px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 0 0 #c1412e;
  padding: 5px 32px;
}

/* line 229, ../scss/style.scss */
.card {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/* line 235, ../scss/style.scss */
.card__img {
  width: 100%;
  height: 140px;
  border-bottom: 3px solid #1baf5d;
  position: relative;
  z-index: 1;
  background-image: url(../img/pic1_270x180.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 244, ../scss/style.scss */
.card__img::before {
  content: "";
  display: block;
  background-color: #1baf5d;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 263, ../scss/style.scss */
.card__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  background-color: #1baf5d;
  padding: 6px 12px;
  border-radius: 25px;
  top: 7px;
  right: 8px;
  z-index: 2;
}
/* line 281, ../scss/style.scss */
.card__description {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #566375;
}
/* line 296, ../scss/style.scss */
.card__zzz {
  margin-top: 19px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1baf5d;
}
/* line 309, ../scss/style.scss */
.card__raiting {
  margin-top: 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #96a6a7;
}

/* line 323, ../scss/style.scss */
.card-test__img {
  width: 100%;
  height: 120px;
  border-bottom: 3px solid #1baf5d;
  position: relative;
  z-index: 1;
  background-image: url(../img/pic4_550x145.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 332, ../scss/style.scss */
.card-test__img::before {
  content: "";
  display: block;
  background-color: #1baf5d;
  border: solid 3px #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 22px;
  z-index: 2;
  background-image: url(../img/house.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 24px;
}
/* line 349, ../scss/style.scss */
.card-test__zzz {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
}
/* line 361, ../scss/style.scss */
.card-test__author {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  display: block;
}
/* line 373, ../scss/style.scss */
.card-test__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  display: block;
}
/* line 385, ../scss/style.scss */
.card-test__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #566375;
  font-weight: 500;
  text-decoration: none;
}
/* line 397, ../scss/style.scss */
.card-test__link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
