// font-family: 'Montserrat', sans-serif;
/*
	Ratings Stars
	(with as little code as possible)
*/

.card__rating--set {
	margin-left: -23px;
	padding-bottom: 3px;
	direction: rtl;
	text-align: center;
}

.card__rating--set>span {
	position: relative;
	display: inline-block;
	width: 23px;
	height: 23px;
	background-image: url("../img/star--white.svg");
	background-repeat: no-repeat;
}

.card__rating--set>*:hover:before,
.card__rating--set>*:hover~span:before,
.card__rating--set>input:checked~span:before {
	//было с .card__rating--set:not(:hover)
	content: "";
	position: absolute;
	left: 0;
	display: block;
	width: 23px;
	height: 23px;
	background-image: url("../img/star_fill--white.svg");
	background-repeat: no-repeat;
}

.card__rating--set>input {
	margin-left: -22px;
	margin-right: 0;
	top: -6px;
	width: 11px;
	height: 11px;
	position: relative;
	z-index: 2;
	opacity: 0;
}

//******************************
body {
	margin: 0;
	background-color: #f3f1f2;
}

.container {
	margin: 0 auto;
}

.wr0 {
	display: flex;
	align-items: stretch;
}

.wr1 {
	background-color: #ffffff;
	flex-grow: 2;
}

.wr2 {
	background-color: #e94e38;
	flex-grow: 2;
}

.wr3 {
	padding-right: 0;
	background-color: #ffffff;
}

.header {
	&__row {
		display: flex;
		justify-content: center;
		padding-right: 0;
		padding-left: 0;
		align-items: stretch;
		position: relative;
		@media screen and (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__logo {
		background-image: url(../img/logo.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 154px 45px;
		width: 154px;
		margin-right: auto;
	}
	&__menu {
		display: none;
		position: relative;
		@media screen and (max-width: 990px) {
			display: block;
		}
	}
	&__link {
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		color: #96a6a7;
		font-size: 14px;
		line-height: 24px;
		font-weight: 500;
		padding: 25px;
		display: inline-block;
		&:hover {
			color: #e94e38;
		}
	}
	&__nav {
		@media screen and (max-width: 990px) {
			display: none;
		}
	}
	&__userform {
		background-color: #e94e38;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		@media screen and (max-width: 575px) {
			width: 48%;
			margin-right: 15px;
			padding-top: 5px;
			padding-bottom: 5px;
			border-radius: 20px;
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	&__login {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		padding-left: 30px;
		margin-left: 40px;
		background-image: url(../img/user.svg);
		background-repeat: no-repeat;
		background-size: 15px 17px;
		background-position: 0 center;
		text-transform: uppercase;
		text-decoration: none;
		padding-right: 15px;
		&:hover {
			text-decoration: underline;
		}
	}
	&__search {
		background-size: 23px 23px;
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #e2dee0;
		cursor: pointer;
		width: 74px;
		@media screen and (max-width: 575px) {
			width: 50px;
		}
	}
}

.nav {
	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__item {
		margin: 0;
		list-style: none;
		margin-right: 20px;
	}
	&__link {
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		color: #96a6a7;
		font-size: 14px;
		line-height: 24px;
		font-weight: 500;
		padding-top: 25px;
		padding-bottom: 25px;
		display: inline-block;
		&:hover {
			color: #e94e38;
		}
	}
}

.nav--mobile {
	display: block;
	position: absolute;
	top: 50px;
	right: 15px;
	z-index: 5;
	.nav {
		&__list {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: 5px;
			overflow: hidden;
			border: 2px solid #96a6a7;
		}
		&__item {
			margin: 0;
			list-style: none; // margin-right: 20px;
			width: 100%;
			border: 1px solid #96a6a7;
		}
		&__link {
			background-color: #fff;
			padding: 0;
			text-transform: uppercase;
			text-decoration: none;
			font-family: 'Montserrat', sans-serif;
			color: #96a6a7;
			font-size: 14px; // line-height: 24px;
			font-weight: 500;
			text-align: center;
			padding-top: 25px;
			padding-bottom: 25px;
			padding-left: 15px;
			padding-right: 15px;
			display: block;
		}
	}
}

.form {
	&__wrapper {
		min-height: 300px;
		background-image: url(../img/header_1280x449.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		&::before {
			content: "";
			display: block;
			background-image: url(../img/headermask_1280x449.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.7;
			background-color: #000000;
			z-index: 1;
		}
	}
}

.form-search {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 767px) {
			flex-direction: column;
			justify-content: center;
		}
	}
	&__title {
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.6;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
		margin-top: 58px;
	}
	&__select {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: left;
		.select2-container {
			width: 100% !important;
		}
		.select2-container--default .select2-selection--single {
			background-color: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-radius: 50px;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			color: #fff;
			padding-left: 30px;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-right: 40px; //!
		}
		.select2-container .select2-selection--single {
			height: auto;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow {
			height: 80%; //!
			top: 9px; //!
			right: 15px; //!
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow b {
			border: none;
			background-image: url(../img/arrow_18x15.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 18px 15px;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
		.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
		.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
			border-radius: 30px;
		}
		&--target {
			padding-right: 0;
			@media screen and (max-width: 767px) {
				padding: 0;
				margin-top: 23px;
			}
		}
		&--country {
			padding-left: 0;
			@media screen and (max-width: 767px) {
				padding: 0;
			}
		}
	}
	&__description {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: left;
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 50px;
		padding: 15px 30px 15px 30px;
		margin-top: 23px;
		color: #ffffff;
		display: block;
		width: 100%;
		&::placeholder {
			color: #ffffff;
		}
		@media screen and (max-width: 767px) {
			font-size: 16px;
		}
	}
	&__button {
		display: block;
		border: none;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.67;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
		background-color: #e94e38;
		border-radius: 50px;
		margin-top: 29px;
		margin-bottom: 40px;
		box-shadow: 0px 2px 0 0 #c1412e;
		padding: 5px 32px;
		&:hover {
			cursor: pointer;
			box-shadow: 0px 2px 2px 0 #9c3121;
			background-color: #9c3121;
		}
	}
}

.select2-dropdown.myselect-dropdown-s1.select2-dropdown--below {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	& .select2-search--dropdown {
		& .select2-search__field {
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.67;
			letter-spacing: normal;
			text-align: left;
		}
	}
}

.select2-dropdown.myselect-dropdown-s2.select2-dropdown--below {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	& .select2-search--dropdown {
		& .select2-search__field {
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.67;
			letter-spacing: normal;
			text-align: left;
		}
	}
}

.select2-dropdown.myselect-dropdown-s3.select2-dropdown--below {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	& .select2-search--dropdown {
		& .select2-search__field {
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.67;
			letter-spacing: normal;
			text-align: left;
		}
	}
}

.select2-container--default .myselect-dropdown-s1 .select2-results__option--highlighted[aria-selected] {
	background-color: #e94e38;
}

.select2-container--default .myselect-dropdown-s2 .select2-results__option--highlighted[aria-selected] {
	background-color: #e94e38;
}

.select2-container--default .myselect-dropdown-s3 .select2-results__option--highlighted[aria-selected] {
	background-color: #e94e38;
}

.select2-container--open .select2-selection__arrow b {
	//!
	transform: scale(1, -1);
}

.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 991px) {
		flex-direction: column;
	}
	&__wrapper {
		background-color: #fff;
	}
	&__select {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		text-transform: uppercase;
	}
	.select2-container {
		width: 100% !important;
	}
	.select2-container--default .select2-selection--single {
		border: solid 1px #96a6a7;
		background-color: #f3f1f2;
		border-radius: 20px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		// color: #fff;
		color: #e94e38;
		padding-left: 15px;
		padding-top: 4px;
		padding-bottom: 3px;
	}
	.select2-container .select2-selection--single {
		height: 100%;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 100%; //!
		top: 0; //!
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border: none;
		background-image: url('../img/angle-down.svg'); //!
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 18px 15px;
		height: 18px; //!
		width: 15px; //!
		top: 50%; //!
		margin-top: -9px; //!
		left: 0;
	}
	.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
	.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
		border-radius: 30px;
	} //
	//.select2-container--open .select2-selection--single { //!
	//border-radius: 18px;
	//}
	&__button {
		background-color: #1baf5d;
		border: solid 1px #1baf5d;
		border-radius: 30px;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		padding: 10px 20px 10px 19px;
		position: relative;
		&:hover {
			background-color: #96caad;
			cursor: pointer;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 10px;
			height: 14px;
			top: 10px;
			right: 10px;
			background-image: url(../img/map-marker-alt.svg);
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	&__list {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		@media screen and (max-width: 991px) {
			margin-top: 15px;
			margin-bottom: 10px;
		}
	}
	&__item {
		list-style: none;
		position: relative;
	}
	&__input {
		width: 10px;
		height: 10px;
		&--1:checked+.filter__label {
			background-color: #1baf5d;
			border: solid 1px #168e4b;
			&:hover {
				background-color: #6ae4a1;
				border: solid 1px #168e4b;
			}
		}
		&--2:checked+.filter__label {
			background-color: #d43030;
			border: solid 1px #b42828;
			&:hover {
				background-color: #d47272;
				border: solid 1px #b42828;
			}
		}
		&--3:checked+.filter__label {
			background-color: #337ae4;
			border: solid 1px #2764be;
			&:hover {
				background-color: #6397e4;
				border: solid 1px #2764be;
			}
		}
		&--4:checked+.filter__label {
			background-color: #f19e1f;
			border: solid 1px #db901c;
			&:hover {
				background-color: #ebb767;
				border: solid 1px #db901c;
			}
		}
		&--5:checked+.filter__label {
			background-color: #88499c;
			border: solid 1px #783f8a;
			&:hover {
				background-color: #9568a3;
				border: solid 1px #783f8a;
			}
		}
	}
	&__label {
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		top: -10px;
		left: -10px;
		background-color: #b6c0c1;
		border: solid 1px #b6c0c1;
		border-radius: 50%;
		z-index: 1;
		&--1 {
			&::before {
				content: "";
				display: block;
				height: 40px;
				width: 40px;
				position: absolute;
				z-index: 2;
				background-image: url(../img/house.svg);
				background-repeat: no-repeat;
				background-position: 7px 8px;
				background-size: 24px 19px;
			}
			&:hover {
				background-color: #1baf5d;
				border: solid 1px #168e4b;
			}
		}
		&--2 {
			&::before {
				content: "";
				display: block;
				height: 40px;
				width: 40px;
				position: absolute;
				z-index: 2;
				background-image: url(../img/girl.svg);
				background-repeat: no-repeat;
				background-position: 7px 8px;
				background-size: 24px 19px;
			}
			&:hover {
				background-color: #d43030;
				border: solid 1px #b42828;
			}
		}
		&--3 {
			&::before {
				content: "";
				display: block;
				height: 40px;
				width: 40px;
				position: absolute;
				z-index: 2;
				background-image: url(../img/cap.svg);
				background-repeat: no-repeat;
				background-position: 7px 8px;
				background-size: 24px 19px;
			}
			&:hover {
				background-color: #337ae4;
				border: solid 1px #2764be;
			}
		}
		&--4 {
			&::before {
				content: "";
				display: block;
				height: 40px;
				width: 40px;
				position: absolute;
				z-index: 2;
				background-image: url(../img/music.svg);
				background-repeat: no-repeat;
				background-position: 7px 8px;
				background-size: 24px 19px;
			}
			&:hover {
				background-color: #f19e1f;
				border: solid 1px #db901c;
			}
		}
		&--5 {
			&::before {
				content: "";
				display: block;
				height: 40px;
				width: 40px;
				position: absolute;
				z-index: 2;
				background-image: url(../img/bus.svg);
				background-repeat: no-repeat;
				background-position: 7px 8px;
				background-size: 24px 19px;
			}
			&:hover {
				background-color: #88499c;
				border: solid 1px #783f8a;
			}
		}
	}
	&__title {
		margin: 0;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 4;
		letter-spacing: normal;
		text-align: left;
		color: #96a6a7;
	}
	&__link {
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 4;
		letter-spacing: normal;
		text-align: left;
		color: #96a6a7;
		&:hover {
			color: #e94e38;
		}
		&--active {
			color: #e94e38;
		}
	}
	&__country {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 767px) {
			justify-content: space-between;
		}
	}
}

.cards div[class*=col] {
	display: flex;
}

.card {
	margin-top: 32px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	&__img {
		width: 100%;
		min-height: 140px;
		position: relative;
		z-index: 1;
		background-repeat: no-repeat;
		background-size: cover;
		&--1 {
			background-image: url(../img/pic1_270x180.jpg);
			border-bottom: 3px solid #1baf5d;
		}
		&--2 {
			background-image: url(../img/pic2_270x180.jpg);
			border-bottom: 3px solid #f19e1f;
		}
		&--3 {
			background-image: url(../img/pic1_270x180.jpg);
			border-bottom: 3px solid #88499c;
		}
		&--4 {
			background-image: url(../img/pic3_270x180.jpg);
			border-bottom: 3px solid #1baf5d;
		}
		&:hover .card__hover {
			display: block;
		}
		&:hover .card__price {
			display: none;
		}
		&--1::before {
			content: "";
			display: block;
			background-color: #1baf5d;
			border: solid 3px #ffffff;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			position: absolute;
			bottom: -25px;
			left: 50%;
			margin-left: -25px;
			z-index: 2;
			background-image: url(../img/house.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 30px 24px;
		}
		&--2::before {
			content: "";
			display: block;
			background-color: #f19e1f;
			border: solid 3px #ffffff;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			position: absolute;
			bottom: -25px;
			left: 50%;
			margin-left: -25px;
			z-index: 2;
			background-image: url(../img/music.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 30px 24px;
		}
		&--3::before {
			content: "";
			display: block;
			background-color: #88499c;
			border: solid 3px #ffffff;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			position: absolute;
			bottom: -25px;
			left: 50%;
			margin-left: -25px;
			z-index: 2;
			background-image: url(../img/bus.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 30px 24px;
		}
		&--4::before {
			content: "";
			display: block;
			background-color: #1baf5d;
			border: solid 3px #ffffff;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			position: absolute;
			bottom: -25px;
			left: 50%;
			margin-left: -25px;
			z-index: 2;
			background-image: url(../img/house.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 30px 24px;
		}
	}
	&__price {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		position: absolute;
		background-color: #1baf5d;
		padding: 6px 12px;
		border-radius: 25px;
		top: 7px;
		right: 8px;
		z-index: 2;
		display: block;
	}
	&__description {
		margin: 0;
		margin-top: 33px;
		padding: 0;
		padding: 0 15px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.29;
		letter-spacing: normal;
		text-align: center;
		color: #566375;
	}
	&__location {
		padding-top: 19px;
		margin-top: auto;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: center;
		&--1 {
			color: #1baf5d;
		}
		&--2 {
			color: #f19e1f;
		}
		&--3 {
			color: #88499c;
		}
		&--4 {
			color: #1baf5d;
		}
	}
	&__rating-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 6px;
		padding-bottom: 14px;
		width: 100%;
	}
	&__star-rating {
		font-size: 12px;
		margin-right: 10px;
	}
	&__rating {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: center;
		color: #96a6a7; // padding-bottom: 14px;
		&--set {
			position: absolute; //top: 75px; //!
			left: 0; //!
			//left: 10px;//!
			// font-size: 30px;
			color: #fff; // 	  & > span {
			// 		width: 15px;
			// 	  }
			// 	  & > input {
			// 		margin-left:-20px;
			// 		width:22px;
			// 		height:22px;
			// 	 }
		}
	} //&__hover {
	//	position: absolute;
	//	opacity: 0.7;
	//	display: none;
	//	top: 0;
	//	height: 100%;
	//	width: 100%;
	//	&--1 {
	//		background-color: #1baf5d;
	//	}
	//	&--2 {
	//		background-color: #f19e1f;
	//	}
	//	&--3 {
	//		background-color: #88499c;
	//	}
	//	&--4 {
	//		background-color: #1baf5d;
	//	}
	//}
	&__hover {
		//!!!!!
		position: absolute; //opacity: 0.7;
		display: none;
		top: 0;
		height: 100%;
		width: 100%;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			opacity: 0.7;
			height: 100%;
			width: 100%;
		}
		&--1::before {
			background-color: #1baf5d;
		}
		&--2::before {
			background-color: #f19e1f;
		}
		&--3::before {
			background-color: #88499c;
		}
		&--4::before {
			background-color: #1baf5d;
		}
	}
	&__hover-container {
		//!
		width: 70%;
		margin: 15px auto 0;
		position: relative;
	}
	&__search {
		opacity: 0.9;
		border: solid 2px #ffffff;
		border-radius: 30px;
		width: 70%;
		padding: 10px 19px 10px 38px;
		margin: 0 auto;
		margin-top: 25px;
		display: block;
		&--1 {
			background-color: #1baf5d;
		}
		&--2 {
			background-color: #f19e1f;
		}
		&--3 {
			background-color: #88499c;
		}
		&--4 {
			background-color: #1baf5d;
		}
		color: #ffffff;
		&:hover {
			cursor: pointer;
		}
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-size: 12px 12px;
		background-position: 18px 11px
	}
	&__link {
		font-size: 0;
		background-image: url(../img/comments.svg);
		width: 25px;
		height: 20px;
		background-position: center center;
		position: absolute;
		background-repeat: no-repeat; //!
		//top: 76px;
		//right: 38px;
		right: 0; //!
	}
}

.card-test {
	margin-top: 32px;
	background-color: #fff;
	&__img {
		width: 100%;
		height: 120px;
		position: relative;
		z-index: 1;
		background-repeat: no-repeat;
		background-size: cover;
		&--1 {
			background-image: url(../img/pic4_550x145.jpg);
			border-bottom: 3px solid #1baf5d;
		}
		&--2 {
			background-image: url(../img/pic5_550x145.jpg);
			border-bottom: 3px solid #f19e1f;
		}
		&--1::before {
			content: "";
			display: block;
			background-color: #1baf5d;
			border: solid 3px #ffffff;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			position: absolute;
			bottom: -25px;
			left: 22px;
			z-index: 2;
			background-image: url(../img/house.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 30px 24px;
		}
		&--2::before {
			content: "";
			display: block;
			background-color: #f19e1f;
			border: solid 3px #ffffff;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			position: absolute;
			bottom: -25px;
			left: 22px;
			z-index: 2;
			background-image: url(../img/house.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 30px 24px;
		}
	}
	&__img-description {
		padding-left: 98px;
		padding-top: 75px;
		@media screen and (max-width: 575px) {
			padding-top: 15px;
			padding-left: 65px;
		}
	}
	&__location {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.67;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
		padding-right: 8px;
		display: inline-block; //!
		@media screen and (max-width: 575px) {
			//!!
			display: block;
		}
		&-rating {
			font-size: 12px;
		}
	}
	&__rating {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 4;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		&-current-author {
			padding-left: 98px;
			margin-top: 17px;
			display: block;
		}
	}
	&__author {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 3;
		letter-spacing: normal;
		text-align: left;
		color: #566375;
		display: block;
		padding-left: 98px;
		position: relative;
		&--1::before {
			content: "";
			display: block;
			width: 55px;
			height: 55px;
			position: absolute;
			border-radius: 50%;
			border: solid 3px #e2dee0;
			top: 16px;
			left: 20px;
			background-image: url(../img/Ellipse1_61x61.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		&--1::after {
			content: "";
			display: block;
			width: 2px;
			height: 24px;
			background-color: #f3f1f2;
			position: absolute;
			top: -12px;
			left: 46px;
		}
		&--2::before {
			content: "";
			display: block;
			width: 55px;
			height: 55px;
			position: absolute;
			border-radius: 50%;
			border: solid 3px #e2dee0;
			top: 16px;
			left: 20px;
			background-image: url(../img/Ellipse2_61x61.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		&--2::after {
			content: "";
			display: block;
			width: 2px;
			height: 24px;
			background-color: #f3f1f2;
			position: absolute;
			top: -12px;
			left: 46px;
		}
	}
	&__description {
		padding-left: 98px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		text-align: left;
		color: #566375;
		display: block;
		padding-bottom: 18px;
		padding-right: 15px;
	}
	&__link {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.43;
		letter-spacing: normal;
		text-align: left;
		color: #566375;
		font-weight: 500;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.load-more {
	text-align: center;
	border-bottom: 2px solid #e2dee0;
	&__link {
		padding-top: 41px;
		padding-bottom: 35px;
		padding-right: 25px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.67;
		letter-spacing: normal;
		text-align: center;
		color: #566375;
	}
}

.offer {
	margin-top: 88px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		font-size: 22px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.18;
		letter-spacing: normal;
		text-align: center;
		color: #566375;
	}
	&__description {
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: center;
		color: #96a6a7;
	}
}

.icons {
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.icon {
	height: 100px;
	width: 100px;
	border: solid 2px #9dacad;
	border-radius: 50%;
	position: relative;
	@media screen and (max-width: 575px) {
		margin-top: 15px;
	}
	&:hover {
		border: solid 2px #1baf5d;
	}
	&:hover .icon__img {
		fill: #1baf5d;
	}
	&__img {
		fill: #9dacad;
		height: 50px;
		width: 50px;
		position: absolute;
		top: 22.5px;
		left: 22.5px;
	}
	&--1::before {
		content: "";
		position: absolute;
		display: block;
		width: 53px;
		height: 2px;
		background-color: #e2dee0;
		top: 49px;
		right: -85px;
		@media screen and (max-width: 991px) {
			width: 25px;
			right: -35px;
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
	&--2::before {
		content: "";
		position: absolute;
		display: block;
		width: 53px;
		height: 2px;
		background-color: #e2dee0;
		top: 49px;
		right: -85px;
		@media screen and (max-width: 991px) {
			width: 25px;
			right: -35px;
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
	&--3::before {
		content: "";
		position: absolute;
		display: block;
		width: 53px;
		height: 2px;
		background-color: #e2dee0;
		top: 49px;
		right: -85px;
		@media screen and (max-width: 991px) {
			width: 25px;
			right: -35px;
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
	&--4::before {
		content: "";
		position: absolute;
		display: block;
		width: 53px;
		height: 2px;
		background-color: #e2dee0;
		top: 49px;
		right: -85px;
		@media screen and (max-width: 991px) {
			width: 25px;
			right: -35px;
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}

.reality {
	margin-top: 38px;
	&__title {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: center;
		color: #1baf5d;
	}
	&__topic {
		margin-top: 43px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #566375;
		padding-left: 95px;
		position: relative;
		&--1::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 62px;
			height: 62px;
			background-image: url(../img/bolt.svg);
			background-size: 32px 32px;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #1db05e;
			border-radius: 50%;
		}
		&--2::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 62px;
			height: 62px;
			background-image: url(../img/leaf.svg);
			background-size: 32px 32px;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #1db05e;
			border-radius: 50%;
		}
	}
}

.footer {
	margin-top: 143px;
	&__wrapper {
		min-height: 300px;
		background-image: url(../img/header_1280x449.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.7;
			background-color: #000000;
		}
	}
	&__form {
		border-bottom: 1px solid rgba(255, 255, 255, 0.9);
		text-align: center;
	}
	&__links {
		margin-top: 42px;
	}
	&__list-title {
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		margin: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		display: inline-block;
	}
	&__list {
		margin: 0;
		padding: 0;
		margin-top: 25px;
		padding-bottom: 64px;
	}
	&__item {
		margin: 0;
		padding: 0;
		list-style: none;
		&--copy {
			display: block;
			margin-top: 60px;
		}
		&--social {
			display: inline-block;
			vertical-align: top;
		}
	}
	&__link {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #c0bebc;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&--social {
			margin-right: 10px;
			font-size: 30px;
			color: #fff;
			&:hover {
				color: #e94e38;
			}
		}
	}
}

.form-subscribe {
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
		padding-top: 61px;
		position: relative;
	}
	&__input {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.2);
		background-image: url(../img/mail.svg);
		background-repeat: no-repeat;
		background-size: 18px 15px;
		background-position: 30px center;
		padding: 10px 276px 10px 69px;
		border-radius: 50px;
		position: relative;
		&::placeholder {
			color: #ffffff;
		}
		@media screen and (max-width:767px) {
			padding: 10px 76px 10px 69px;
		}
		@media screen and (max-width:470px) {
			padding: 10px 5px 10px 35px;
			background-position: 20px center;
			text-align: center;
		}
	}
	&__wrapper {
		position: relative;
		display: inline-block;
		padding-bottom: 57px;
	}
	&__button {
		position: absolute;
		border: none;
		background-color: #e94e38;
		box-shadow: 0px 2px 0 0 #c1412e;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
		padding: 12px 20px;
		border-radius: 40px;
		top: 5px;
		right: 5px;
		&:hover {
			cursor: pointer;
			background-color: #c0301d;
		}
		@media screen and (max-width:470px) {
			top: 60px;
			right: 0px;
			width: 100%;
		}
	}
}

.fa-star {
	color: #f19e1f;
}